<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/newsletter" method="post">
        <input type="hidden" name="_csrf" value="<%= csrftoken %>"> 
  E-mail:
  <input type="text" name="email"><br>
  <input type="submit" name="submit"><br>

</form>
  </body>
</html>
